In [1]:
import pandas as pd
import numpy as np

In [2]:
# File Path Parameters
file_path = r'C:\Users\billy\Amazon_Vine_Analysis'
file_name = 'vine_table.csv'

# Set full path and read in csv table
full_path = f'{file_path}\\{file_name}'

vine_df = pd.read_csv(full_path, low_memory=False)

vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1WBPB8MDCCN8F,5,0.0,0.0,N,N
1,R32M0YEWV77XG8,5,1.0,1.0,N,Y
2,RR8V7WR27NXJ5,1,0.0,0.0,N,Y
3,R1MHO5V9Z932AY,5,0.0,0.0,N,Y
4,R16PD71086BD2V,5,0.0,1.0,N,N

In [3]:
# Check data types
vine_df.dtypes

review_id             object
star_rating           object
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [4]:
# Step 1
filter_1_df = vine_df[vine_df['total_votes'] >= 20]
filter_1_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1,48.0,65.0,N,Y

In [5]:
# Step 2
filter_2_df = filter_1_df[filter_1_df['helpful_votes']/filter_1_df['total_votes'] >= .5]
filter_2_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1,48.0,65.0,N,Y

In [6]:
# Step 3
filter_3_df = filter_2_df[filter_2_df['vine'] == 'Y']
filter_3_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5506,R32OMS1LSDRCOB,4,27.0,31.0,Y,N
24578,R2IPKK4I0XRCFR,4,16.0,21.0,Y,N
58364,RXYYJ8SGI9IX6,5,36.0,41.0,Y,N
63194,R1SAUBFC7T6JHC,5,73.0,75.0,Y,N
177724,R329HVJKKHWSG3,5,59.0,59.0,Y,N

In [7]:
# Step 4
filter_4_df = filter_2_df[filter_2_df['vine'] == 'N']
filter_4_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
326,R1B4753QMTD8ON,5,32.0,32.0,N,N
662,R28BVHOEL6GCHZ,5,21.0,21.0,N,Y
1055,R27IB4BRKO71I0,2,16.0,20.0,N,Y
1225,RJ86OW12Y4NRL,5,124.0,128.0,N,Y
1448,R3KRABOWCH6ZE4,1,48.0,65.0,N,Y

In [8]:
# Step 5a - Paid
paid_total_reviews = len(filter_3_df) 
paid_total_reviews

334

In [9]:
# Step 5b - Paid
paid_5star_count = len(filter_3_df[filter_3_df['star_rating'] == '5'])
paid_5star_count

139

In [10]:
# Step 5c - Paid
paid_5star_percent = paid_5star_count/paid_total_reviews
paid_5star_percent

0.4161676646706587

In [11]:
# Step 5a - Unpaid
unpaid_total_reviews = len(filter_4_df) 
unpaid_total_reviews

61614

In [12]:
# Step 5b - Unpaid
unpaid_5star_count = len(filter_4_df[filter_4_df['star_rating'] == '5'])
unpaid_5star_count

32665

In [13]:
# Step 5c - Unpaid
unpaid_5star_percent = unpaid_5star_count/unpaid_total_reviews
unpaid_5star_percent

0.5301554841432142